{% extends 'base.html' %}




{% block body %}

    <h1>Leaderboard</h1>

    <table>
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Score</th>
            <th>Date</th>
        </tr>

        {% for item in leaderboard %}
            <tr>
                <td>0</td>
                <td>{{ item.username }}</td>
                <td>{{ item.score }}</td>
                <td>1/1/2021</td>
            </tr>
        {% endfor %}

    </table>

        <div>

            <a class=button href="{{ url_for('start') }}">Home</a>

        </div>

{% endblock %}