{% extends 'base.html' %}




{% block body %}

    <h1>Leaderboard</h1>

    <table>
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Score</th>
        </tr>



        {% for item in leaderboard %}

            <tr>
                <td>{{ loop.index }} </td>
                <td>{{ item.username.title() }}</td>
                <td>{{ item.score }}</td>
            </tr>
        {% endfor %}

    </table>

        <div>

            <a class=button href="{{ url_for('start') }}">Home</a>

        </div>

{% endblock %}