<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who's That Pokemon!</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Who's That Pokemon!</h1>
    <img class="clipped" src="{{ p_image }}" alt="pokemon_image">
    <p> Name: ? Number: {{ p_num }} Height: {{ p_height }} </p>
    <p>Current score = {{ score }}</p>

    <form action="/check_answer" method="post">
    <input type="text" name="guess">
    <input type="submit">
    </form>
</body>
</html>